//colors
$black: #000;
$white: #fff;

$green: #50e3d3;
$red: #ff5151;

//size
$w-desktop: 846px;
$w-mobile: 320px;

//width
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;